@model IEnumerable<MercDevs_ej2.Models.Recepcionequipo>

@{
    ViewData["Title"] = "Equipos Recepcionados";
}

<h1>Equipos Recepcionados</h1>

<table class="table">
    <thead>
        <tr>
            <th>Servicio</th>
            <th>Fecha</th>
            <th>Tipo PC</th>
            <th>Marca PC</th>
            <th>Modelo PC</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IdServicioNavigation.Nombre</td>
                <td>@item.Fecha</td>
                <td>@item.TipoPc</td>
                <td>@item.MarcaPc</td>
                <td>@item.ModeloPc</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Ver Detalle</a> |
                    <a asp-action="UpdateStatus" asp-route-id="@item.Id" class="btn btn-warning">Recepción del Equipo</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Clientes" asp-action="Index" class="btn btn-primary">Volver a Clientes</a>
